
 @font-face { font-style : bold; src: url("assets/fonts/playfairdisplaybold700.ttf"); font-family : "Playfair Display"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/playfairdisplayregular400.ttf"); font-family : "Playfair Display"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/poppinsbold700.ttf"); font-family : "Poppins"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/poppinsmedium500.ttf"); font-family : "Poppins"; font-weight : 500;  }
 @font-face { font-style : normal; src: url("assets/fonts/poppinsregular400.ttf"); font-family : "Poppins"; font-weight : 400;  }